html, body {
   margin: 0px;
   padding: 0px;
   height: 100%;
   width: 100%;
   background-color: hsl(150, 65%, 68%);
   background-color: #78E2AD;
}

#index_body, #index_html {
  background-color: black;
}

/**VIDEO BACKGROUND**/

#video-container {
    top:0;
    height:100%;
    width:100%;
    padding-top: 70px;
    position: absolute;
    overflow: hidden;
}

video {
    position: absolute;
    z-index:0;
    width: 100%;
}

/**GENERAL TAGS**/

p {
  font-family: 'Amatic SC', serif;
  color: black;
  font-size: 35px;
}

a {
  text-decoration: none;
}

button {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px black;
  font-family: 'Amatic SC', serif;
  font-size: 30px;
  color: white;
  background: purple; /* For browsers that do not support gradients */
     background: -webkit-linear-gradient(purple, black); /* For Safari 5.1 to 6.0 */
     background: -o-linear-gradient(purple, black); /* For Opera 11.1 to 12.0 */
     background: -moz-linear-gradient(purple, black); /* For Firefox 3.6 to 15 */
     background: linear-gradient(purple, black); /* Standard syntax */
}

button:hover {
  cursor: pointer;
}

/******* HEADER *********/

header {
height: 70px;
width: 100%;
color: white;
/*text-shadow: 1px 1px 2px purple, 0 0 25px purple, 0 0 5px purple;*/
display: block;
background-color: rgba(0, 0, 0, 0.5);
position: fixed;
top:0;
margin: 0 auto;
padding: 0;
}

header a {
  height: 100%;
  width: 50%;
  text-decoration: none;
  color: white;
  z-index: 101;
}

header a h1 {
height: 100%;
display: inline-block;
font-family: 'Amatic SC', serif;
font-size: 50px;
margin: 0 0 0 20px;
display: inline-block;
}

/******* NAVIGATION *********/
nav {
  height: 70px;
  width: auto;
  display: inline-block;
  position: fixed;
  top: 0;
  right: 0;
}

nav a {
  height: 70px;
  width: 100px;
  display: inline-block;
  float: left;
  font-family: 'Amatic SC', serif;
  font-size: 30px;
}

article {
width: 100%;
display: block;
position: relative;
margin-left: auto;
margin-right: auto;
margin-top: 100px;
text-align: center;
}


.img_wrap {
  height: 25%;
  display: inline-block;
  margin: 5px;
}

.img_wrap img {
  height: 300px;
  border-radius: 100%;
  box-shadow: 10px 10px 10px rgba(119, 9, 230, 0.6);
}

.img_wrap img:hover {
  -ms-transform: rotate(20deg); /* IE 9 */
  -webkit-transform: rotate(20deg); /* Safari */
  transform: rotate(20deg);

}

/**THUMB ANIMATION**/

#animation_wrap {
  height: 110px;
  width: 500px;
  margin: 0 auto;
  position: relative;
}

#thumbButton {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  height: 50px;
}

#thumb {
  height: 100px;
  width: 100px;
  position: absolute;
  margin-left: -50px;
}

/******* CONTACT PAGE *********/


fieldset {
  height: 90%;
  width: 70%;
  padding: 0;
  display: block;
  margin: 0 auto;
  color: white;
  border: 2px inset black;
  border-radius: 10px;
  background: purple; /* For browsers that do not support gradients */
     background: -webkit-linear-gradient(purple, black); /* For Safari 5.1 to 6.0 */
     background: -o-linear-gradient(purple, black); /* For Opera 11.1 to 12.0 */
     background: -moz-linear-gradient(purple, black); /* For Firefox 3.6 to 15 */
     background: linear-gradient(purple, black); /* Standard syntax */
}


input, textarea {
  width: 80%;
  background-color: gray;
  font-family: sans-serif, serif;
  font-size: 16px;
  letter-spacing: 1px;
  border: 1px solid white;
  border-radius: 5px;
}

#contact_p {
  margin: 10px 0 0 0;
}

input:focus {
  background-color: teal;
  color: white;
}

input:hover {
  color: white;
  background-color: teal;
  border: 1px solid red;
}



textarea:hover {
  color: white;
  background-color: teal;
  border: 1px solid red;
}

textarea:focus {
  background-color: teal;
  color: white;
}


#submit {
    color: white;
    font-family: 'Amatic SC', serif;
    font-size: 30px;
    text-shadow: 0px 1px 1px #ffffff;
    border-bottom: 2px solid #b2b2b2;
    background: gray; /* For browsers that do not support gradients */
       background: -webkit-linear-gradient(purple, darkgray); /* For Safari 5.1 to 6.0 */
       background: -o-linear-gradient(purple, darkgray); /* For Opera 11.1 to 12.0 */
       background: -moz-linear-gradient(purple, darkgray); /* For Firefox 3.6 to 15 */
       background: linear-gradient(purple, darkgray); /* Standard syntax */ ;
}

#submit:hover {
  color: white;
  background-color: teal;
  border: 1px solid red;
}

label, legend, #contact_p  {
  font-family: 'Amatic SC', serif;
  font-size: 25px;
  color: white;
}

/**JAVASCRIPT MESSAGE**/

.half_wrap {
  height: 100%;
  width: 49%;
  margin-top: 70px;
  padding-top: 20px;
  display: inline-block;
  text-align: center;
  float: left;
}

#jsmessage {
  height: 400px;
  width: 400px;
  display: inline-block;
}

#message {
  display: block;
  color: white;
  margin: 0 auto
  margin-top: 20px;
  background: purple; /* For browsers that do not support gradients */
     background: -webkit-linear-gradient(purple, black); /* For Safari 5.1 to 6.0 */
     background: -o-linear-gradient(purple, black); /* For Opera 11.1 to 12.0 */
     background: -moz-linear-gradient(purple, black); /* For Firefox 3.6 to 15 */
     background: linear-gradient(purple, black); /* Standard syntax */
}
/******* ABOUT PAGE *********/


#about_p {
  width: 60%;
  position: relative;
  margin: 0 auto;
  margin-top: 100px;
/*  background-color: rgba(0, 0, 0, 0.5); */
  text-align: center;
}

#about_p p {
  height: 100%;
  width: 300px;
  display: inline;
}

#about_p a {
  color: red;
}

blockquote {
  color: black;
  font-family: 'Amatic SC', serif;
  font-size: 50px;
}


ol {
  margin: 0 auto;
  list-style-type: upper-roman;
  display: inline-block;
  text-align: left;
}

ol li {
  color: red;
  font-family: 'Amatic SC', serif;
  font-size: 40px;
}

ol li a {
  color: white;
  border-bottom: 1px dashed orange;
  text-decoration: none;
  border-radius: 5px;
  padding: 2px;
}
